.tournament-form {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 24px;

  .row {
    display: flex;
    gap: 16px;
  }

  .form-section {
    border: 1px solid var(--color-divider) !important;
    border-radius: var(--radius-md) !important;
    margin-bottom: 12px !important;

    .title {
      font-weight: 800;
    }

    &::before {
      display: none;
    }

    .section-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 10px;

      .category-row {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 12px;
  }
}

@media (max-width: 600px) {
  .tournament-form {
    padding: 16px;

    .row {
      flex-direction: column;
    }
  }
}
