.player-search {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__empty {
    text-align: center;
    padding: 48px 0;
  }
}
