.user-form-dialog {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px !important;

    .active-field {
      display: flex;
      flex-direction: column;
    }
  }
}
