.competitors-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  .clickable {
    cursor: pointer;
  }

  .highlighted {
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 2px #f59e0b40;
  }
}