.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    text-align: center;
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__footer {
    text-align: center;

    a {
      color: var(--color-primary);
      font-weight: 600;
    }
  }
}
