.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    text-align: center;
    font-weight: 700;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer {
    text-align: center;

    a {
      color: var(--color-primary);
      font-weight: 600;
    }
  }

  .role {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
