.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .logo {
    align-self: center;
    height: auto;
    max-width: 220px;
    margin-bottom: 4px;
  }

  .title {
    text-align: center;
    font-weight: 700;
  }

  .subtitle {
    text-align: center;
    margin-top: -8px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .forgot-password {
    text-align: center;
  }

  .footer {
    text-align: center;

    a {
      color: var(--color-primary);
      font-weight: 600;
    }
  }
}
