.edit-tournament-dialog {
  .main-content {
    display: flex !important;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px !important;
    padding-bottom: 8px;
  }

  .actions {
    padding: 10px 23px 20px;
  }
}
